html 
    head 
        title NBA Stats App Homepage 

    body 

        include ./header 
        div#main 
            h1 Welcome to the NBA Stats App 
            br
            p Created by JadHay8 and johnnynguyen3, this web application is created using JavaScript, HTML, Pug, Express, Axios, and Cheerio
            p This App webscrapes the all players' top 8 stats from the 2022 NBA playoffs and displays the top 5 for each category.